@tailwind base;
@tailwind components;
@tailwind utilities;




  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.faded-dots {
  position: absolute;
  width: 100%;
  height: 200%;
  background-image: url('/bg_faded_dots.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: -40%;
  z-index: -1;
}

.shape {
  position: absolute;
  width: 100%;
  height: 200%;
  background-image: url('/bg_shape.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: -82%;
  z-index: -1;
}

@media (min-width: 350px) and (max-width: 768px) {
  .faded-dots {
    top: -60%;
  }
}

@media (max-width: 350px) {
  .faded-dots {
    top: -80%;
  }
}

.background-container {
  position: absolute;
  width: 100%;
  height: 200%;
  background-image: url('/bg_faded_dots.svg'), url('/bg_shape.svg');
  /* object-fit: cover; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: -82%;
  z-index: -1;
}

.content {
  position: relative;
  
  z-index: 1;
  
}
.flex-auto {
  padding-left: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
